 *  {
     visibility: hidden;
  }

  #litebox img
  {
   visibility: visible !important;
   top:0 !important;
   left: 0 !important;
   padding: 0 !important;
   margin: 0 !important;
   display:  block  !important;
  }
  #main, #shadow
  {
   display:  none;
  }
  .footer { 
    display:  none;
  }