.radio {
	vertical-align: middle;
	width: 16px;
	height: 17px;
	background: url(../images/radio.png) no-repeat;
	cursor: pointer;
}
.radio.checked {
  background-position: -16px 0;
}
.radio.disabled {
  background-position: 0 -16px;
}
.radio.checked.disabled {
  background-position: -16px -16px;
}
.radio.focused {
  background-position: 0 -32px;
}
.radio.checked.focused {
  background-position: -16px -32px;
}