/**Top menu**/
#horizontal-multilevel-menu table{
	width: 100%;
	border-left: 1px solid #fff;
}

#horizontal-multilevel-menu td {
	padding: 0;
	border: 1px solid #fff;
	border-left: none;
}

.horizontal-multilevel-menu,.horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	/*background-color: #808285;*/
	min-height:28px;
	height: 28px;
	width:100%;
	list-style:none;
	font-size:9px;
	/*font-size:90%*/
}

/*Links*/
.horizontal-multilevel-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

.horizontal-multilevel-menu li 
{
	width: 100%;
}

.horizontal-multilevel-menu li ul li {
	float: left;
}

/*Root items*/
.horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	padding:7px 2px;
	white-space: nowrap;
	text-transform: uppercase;
	background-color: #808285;	
}

/*Root menu selected*/
.horizontal-multilevel-menu li a.root-item-selected
{
	background:#999999;
	color:#fff;
	padding:7px 2px;
	white-space: nowrap;
	text-transform: uppercase;
}

/*Root items: hover*/
.horizontal-multilevel-menu li:hover a.root-item, .horizontal-multilevel-menu li.jshover a.root-item
{
	background:#999999;
	color:#fff;
}

/*Child-items: hover*/
.horizontal-multilevel-menu li:hover, .horizontal-multilevel-menu li.jshover
{
	background:#999999;
	color:#fff;
}

/*Child-items selected*/
.horizontal-multilevel-menu li.item-selected
{
	background:#999999;
	color:#fff;
}

/*Sub-menu box*/
.horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;
	height:auto;
	/*width:12em;*/
	width:235px;
	background:#808285;
	border:2px solid #DEDEDE;
	border-top: 1px solid #fff;
	font-size: 11px;
	/*margin-left: auto;*/
}

/*Sub-menu item box*/
.horizontal-multilevel-menu li li 
{
	width:100%;
	border-top:2px solid #DEDEDE;
}

/*Item link*/
.horizontal-multilevel-menu li ul a
{
	text-align:left;
}

/*Items text color & size */
.horizontal-multilevel-menu li a,
.horizontal-multilevel-menu li:hover li a,
.horizontal-multilevel-menu li.jshover li a,
.horizontal-multilevel-menu li:hover li:hover li a,
.horizontal-multilevel-menu li.jshover li.jshover li a,
.horizontal-multilevel-menu li:hover li:hover li:hover li a,
.horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
.horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
.horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
.horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
.horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#FFF;
}

/*Items text color & size: hover*/
.horizontal-multilevel-menu li:hover li:hover a,
.horizontal-multilevel-menu li.jshover li.jshover a,
.horizontal-multilevel-menu li:hover li:hover li:hover a,
.horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
.horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
.horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
.horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
.horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
.horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
.horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#FFF;
}

.horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

.horizontal-multilevel-menu li:hover ul ul,
.horizontal-multilevel-menu li.jshover ul ul,
.horizontal-multilevel-menu li:hover ul ul ul,
.horizontal-multilevel-menu li.jshover ul ul ul,
.horizontal-multilevel-menu li:hover ul ul ul ul,
.horizontal-multilevel-menu li.jshover ul ul ul ul,
.horizontal-multilevel-menu li:hover ul ul ul ul ul,
.horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

.horizontal-multilevel-menu li:hover ul,
.horizontal-multilevel-menu li.jshover ul,
.horizontal-multilevel-menu li li:hover ul,
.horizontal-multilevel-menu li li.jshover ul,
.horizontal-multilevel-menu li li li:hover ul,
.horizontal-multilevel-menu li li li.jshover ul,
.horizontal-multilevel-menu li li li li:hover ul,
.horizontal-multilevel-menu li li li li.jshover ul,
.horizontal-multilevel-menu li li li li li:hover ul,
.horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}